.g--margin-auto{
  margin: auto;
}

.g--margin-auto-top{
  margin-top: auto;
}.g--margin-auto-left{
  margin-left: auto;
}.g--margin-auto-botton{
  margin-bottom: auto;
}
.g--margin-auto-right{
  margin-right: auto;
}


