@each $var in getMarginKeys() {
    .g--margin-#{$var}{
        margin: getMargin($var);
    }
}

@each $var in getMarginKeys() {
    .g--margin-top-#{$var}{
        margin-top: getMargin($var);
    }
}

@each $var in getMarginKeys() {
    .g--margin-bottom-#{$var}{
        margin-bottom: getMargin($var);
    }
}

@each $var in getMarginKeys() {
    .g--margin-left-#{$var}{
        margin-left: getMargin($var);
    }
}

@each $var in getMarginKeys() {
    .g--margin-right-#{$var}{
        margin-right: getMargin($var);
    }
}