<div class="containerRegister">
  <p class="containerRegister__title">Registro</p>
  <div class="containerRegister__boxInput" id="boxNameRegister">
    <i class="far fa-user containerRegister__icon"></i>
    <input type="text" class="containerRegister__input" id="inputNombre" placeholder="Nombre" [(ngModel)]="nombre" >
  </div>
  <div class="containerRegister__boxInput" id="boxEmailRegister">
    <i class="far fa-envelope containerRegister__icon"></i>
    <input type="text" class="containerRegister__input" id="inputEmail" placeholder="Email" [(ngModel)]="email">
  </div>
  <div class="containerRegister__boxInput" id="boxPasswordRegister">
    <i class="fas fa-unlock-alt containerRegister__icon"></i>
    <input type="password" class="containerRegister__input" id="inputContraseña" placeholder="Contraseña" [(ngModel)]="password">
  </div>
  <div class="containerRegister__boxInput" id="boxPasswordConfirmationRegister">
    <i class="fas fa-unlock-alt containerRegister__icon"></i>
    <input type="password" class="containerRegister__input" id="inputConfirmarContraseña" placeholder="Confirmar Contraseña" [(ngModel)]="password_confirmation">
  </div>
  <button type="submit" class="containerRegister__button" (click)="enviar()">Registrarse</button>
</div>


<p>{{error}}</p>
