@import "../../scss/01_utilities/_functions", "../../scss/01_utilities/_variables.scss";

.containerRegister{
  width: 400px;

  margin: auto;
  margin-top: 200px;
  padding-top: 25px;

  border-radius: 10px;

  background-color: getColor('negro', 5);

  display: flex;
  flex-direction: column;
  
  &__title{
    margin: 25px auto;
    font-size: 35px;
    color: getColor('blanco', 9);
  }

  &__boxInput{
    height: 40px;
    width: 80%;
  
    display: flex;
    margin: auto;
    margin-top: 25px;
  
    color: getColor('blanco', 2);
    background-color: getColor('blanco', 2);
  
    border-radius: 10px;
  }

  &__icon{
    color: getColor('negro', 2);
    border-right: 2px solid getColor('blanco', 2);
    text-align: center;

    font-size: 25px;
    width: 50px;
    box-sizing: border-box;
    padding-top: 7px;
    line-height: 25px;
  }

  &__input{
    width: 300px;
    border: 0px;

    margin-left: 10px;

    outline: none;

    border-right: 1px;
    border-radius: 10px;
    background-color: getColor('blanco', 2);
  }

  &__button{
    width: 80%;
    height: 40px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid getColor('negro', 2);
    border-radius: 10px;

    background-color: getColor('primario', 4);
    color: getColor('blanco', 2);
  }
}