<div style="min-height: calc(100bh - 50px); background-color: #121212c7;">
  <div class="ui-bg-cover ui-bg-overlay-container text-white" style="background:#1B4779;">
    <div class="ui-bg-overlay bg-dark opacity-50"></div>
    <div class="container py-5">
      <div class="media col-md-10 col-lg-8 col-xl-8 p-0 my-4 mx-auto">
        <img src="{{usuarioSteam.avatar}}" alt class="d-block ui-w-100 rounded-circle">
        <div class="media-body ml-5">
          <h4 class="font-weight-bold mb-4">{{usuarioSteam.nombre}}</h4>
          <div class="opacity-75 mb-4">
            Última conexión: {{usuarioSteam.ultimaConexion}}
          </div>
          <div class="opacity-75 mb-4">
            Fecha de creacion de la cuenta : {{usuarioSteam.fechaCreacion}}
          </div>
          <div class="opacity-75 mb-4">
            Pais de ubicación : {{ubicacion.pais}}
          </div>
          <div class="opacity-75 mb-4">
            Ciudad de obicación : {{ubicacion.estado}} / {{ubicacion.ciudad}}
          </div>
        </div>
      </div>
      <a class="float-right btn btn-secondary col-sm-offset-7 col-sm-3" href="{{usuarioSteam.paginaOficial}}"
        target="_black">Página oficial</a>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div *ngFor="let juego of games">
      <div class="card" style="width: 20vw; margin: 10px;">
        <img class="card-img-top" src="{{juego.imagen_cabecera}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{juego.nombre}}</h5>
          <p class="card-text">Tiempo jugado {{juego.tiempo}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

