<div class="containerMiCuenta">
  <div id="infoGeneral" class="boxIcon">
    <label class="boxIcon__labelIcon">
      <img class="boxIcon__icon" src="{{newUser.icon}}" alt="">
      <input type="file" accept="image/*" class="boxIcon__inputIcon" id="inputIcon" (change)="cambiarIcono($event)">
    </label>
  </div>
  <div id="formMiCuenta" class="form">
    <div class="form__box">
      <div class="form__boxData">
        <label class="form__label">NOMBRE DE USUARIO</label>
        <h6 class="form__data">{{newUser.name}}</h6>
      </div>
      <button class="form__button" (click)="changeName()">Editar</button>
    </div>
    <div class="form__box">
      <div class="form__boxData">
        <label class="form__label">EMAIL</label>
        <h6 class="form__data">{{newUser.email}}</h6>
      </div>
      <button class="form__button" (click)="changeEmail()">Editar</button>
    </div>
    <div class="form__box">
      <div class="form__boxData">
        <label class="form__label">CONTRASEÑA</label>
        <h6 class="form__data">**************</h6>
      </div>
      <button class="form__button" (click)="changePassword()">Editar</button>
    </div>
  </div>
</div>
