<div class="container">
  <div class="button_addGame">
    <button class="button_addGame__button" (click)="addGame()"><i class="fas fa-plus"></i>Añadir juego</button>
  </div>
  <div *ngFor="let game of myGames">
    <div id="{{game.name}}" class="cardGame">
      <img class="cardGame__image" src="{{game['url_image']}}" alt="{{game['url_image']}}">
      <p class="cardGame__title">{{game['name']}}</p>
      <div class="textContainer">
        <h6 class="textContainer__title">Comentario</h6>
        <div class="textContainer__box">
          <p class="textContainer__text">{{game['commentary']}}</p>
          <span style="color: #1457DB;" (click)="editCommentary(game)">
            <i class="far fa-edit"></i>
          </span>
        </div>
      </div>
      <div class="textContainer">
        <p class="textContainer__title">Valoración</p>
        <div class="textContainer__box">
          <p class="textContainer__text" style="font-size: 20px;">{{game['assessment']}} <i class="far fa-star"></i></p>
          <span style="color: #1457DB;" (click)="editAssessment(game)">
            <i class="far fa-edit"></i>
          </span>
        </div>
      </div>
      <div class="textContainer">
        <p class="textContainer__title">Tiempo de juego</p>
        <div class="textContainer__box">
          <p class="textContainer__text" style="font-size: 20px;">{{game['time']}} <i class="far fa-clock"></i></p>
          <span style="color: #1457DB;" (click)="editTime(game)">
            <i class="far fa-edit"></i>
          </span>
        </div>
      </div>
      <div class="textContainer">
        <h6 class="textContainer__title">Fecha inicio</h6>
        <div class="textContainer__box">
          <p class="textContainer__text" style="font-size: 20px;">{{game['start_date']}}</p>
          <span style="color: #1457DB;" (click)="editStartDate(game)">
            <i class="far fa-edit"></i>
          </span>
        </div>
        <input type="date" id="inputStartDate" [(ngModel)]="fecha" style="display: none;">
      </div>
      <button class="cardGame__button" (click)="eliminar(game)">eliminar</button>
    </div>
  </div>
  <div *ngIf="vacio" class="vacio">
    <i class="fas fa-heart-broken vacio__icon"></i>
    <p class="vacio__texto">No has añadido ningun juego todavia</p>
  </div>
</div>
