<div class="containerLogin">
  <p class="containerLogin__title">Login</p>
  <div class="containerLogin__boxInput" id="boxEmailLogin">
    <i class="far fa-envelope containerLogin__icon"></i>
    <input type="email" class="containerLogin__input" autofocus placeholder="Enter email"
      [(ngModel)]="email">
  </div>
  <div class="containerLogin__boxInput" id="boxPasswordLogin">
    <i class="fas fa-unlock-alt containerLogin__icon"></i>
    <input type="password" class="containerLogin__input" autofocus id="exampleInputPassword1" placeholder="Password"
      [(ngModel)]="password">
  </div>
  <button type="submit" class="containerLogin__button" (click)="enviar()">Login</button>
</div>


<p>{{error}}</p>
