<div class="c-login">
  <p class="c-login__title">Login</p>
  <div class="c-boxInput" id="boxEmailLogin">
    <i class="far fa-envelope c-boxInput__icon"></i>
    <input type="email" class="c-boxInput__input" autofocus placeholder="Enter email"
      [(ngModel)]="email">
  </div>
  <div class="c-boxInput" id="boxPasswordLogin">
    <i class="fas fa-unlock-alt c-boxInput__icon"></i>
    <input type="password" class="c-boxInput__input" autofocus id="exampleInputPassword1" placeholder="Password"
      [(ngModel)]="password">
  </div>
  <button type="submit" class="c-boxInput__botonAceptar" (click)="enviar()">Login</button>
</div>


<p>{{error}}</p>
