.c-addGame{
  width: 800px;
  display: flex;
  flex-direction: column;


  &__image{
    max-width: 100%;

  margin: auto;
    margin-bottom: 20px;
  }

  &__form{
    display: flex;
    flex-direction: column;
  }

  &__confirm{

    height: 40px;

    color: getColor('blanco', 9);

    border: 1px solid getColor('primario', 2);
    border-radius: 10px;

    background-color: getColor('primario', 6);

  }
}
