.c-boxAddGame{
  width: 100%;
  display: flex;

  &__button{
    height: 30px;

    margin: 10px;

    color: getColor('blanco', 9);
    background-color: getColor('primario', 6);
    border: 1px solid getColor('primario', 2);
    border-radius: 5px;

    margin-left: auto;
  }
}
