.c-bibliotecaVacia{
  color: getColor('blanco', 9);

  display: flex;
  flex-direction: column;

  height: 300px;

  &__icon{
    font-size: 250px;
    margin: auto;
  }

  &__texto{
    font-size: 25px;
    margin: auto;
  }
}
