.c-cardLastGamesDatas{
  margin: 20px;

  &__gameName{
    font-size: 18px;

    margin: 5px 20px 20px 0px;
  }

  &__commentary{
    margin: 20px 20px 20px 0px;
  }

  &__assessment{
    margin: 20px 20px 20px 0px;
  }

  &__time{
    margin: 20px 20px 20px 0px;
  }
}
