.c-game{
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  margin: 35px;

  &__image{
    width: 325px;
    height: 200px;
    border-radius: 15px;
  }

  &__name{
    margin: 10px auto;
    color: white;
  }
}
