.c-miCuentaIcon {
  display: flex;
  flex-direction: column;

  &__icon {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    border: 10px solid getColor('primario', 5);
    margin: auto;
    margin-bottom: 25px;
  }
  &__input{
    display: none;
  }
}
