.c-miCuentaDatas{
  display: flex;
  flex-direction: column;

  &__mySteam{
    width: 450px;
    max-width: 90%;
    margin: auto;
    height: 40px;
    background-color: getColor('primario', 5);
    border-radius: 10px;
    border: 0px;
    margin-top: 20px;
  }
}
