.c-miCuentaData{
  color: getColor('blanco', 9);

  width: 450px;

  display: flex;
  flex-direction: row;

  margin: auto;
  margin-top: 20px;

  &__boxData{
    width: 250px;
  }

  &__label{
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__data{
    font-size: 25px;
  }

  &__edit{
    height: 50px;
    width: 70px;

    margin-left: auto;

    border-radius: 10px;
    background-color: getColor('primario', 7);
    color: getColor('blanco', 9);
    border: 0px;
  }

}
