.c-register{
  width: 400px;

  margin: auto;
  margin-top: 200px;

  border-radius: 10px;

  background-color: getColor('negro', 5);

  display: flex;
  flex-direction: column;

  padding-top: 25px;

  &__title{
    margin: 25px auto;

    font-size: 35px;

    color: getColor('blanco', 9);

  }
}
