.p-addGame{
  background-color: getColor('negro', 2)+d9;

  //50 = height of menu
  min-height: calc(100vh - 50px);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;

  &__cancel{
    width: 50px;
    height: 35px;

    background-color: transparent;

    border: 0px ;
    color: getColor('secundario', 9);
  }
}
